@font-face {
    font-family: Young-Serif;
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: hsl(30, 54%, 90%);
    font-size: 16px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(330, 100%, 98%);
    width: 728px;
    padding: 40px;
    border-radius: 15px;
    font-family: Outfit;
}

.banner img{
    width: 100%;
    border-radius: 15px;
}

.title-text{
    color: hsl(24, 5%, 18%);
    font-family: Young-Serif;
    font-weight: 400;
    font-size: 2.3em;

}

.description p{
    margin-top: 0px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

/* ------section one------ */
.section-one{
    background-color: hsl(330, 100%, 97%);
    width: 100%;
    border-radius: 15px;
    padding: 0px 20px;
}

.section-one-title{
    color: hsl(332, 51%, 32%);
}

.list-item{
    color: hsl(332, 51%, 32%);
    font-weight: 400;
}

.list-item p{
    color: hsl(30, 10%, 34%);
}

.item-title{
    font-weight: 700;
    padding-left: 20px;
    color: hsl(30, 10%, 34%);
}
/* ------section one------ */

/* ------section two------ */
.section-two{
    width: 100%;
}
.section-title{
    font-family: Young-Serif;
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

.section-two-list{
    padding-left: 20px;
    border-bottom: 1px solid hsl(0, 0%, 85%);
    padding-bottom: 20px;
}

.section-two-list-item{
    color: hsl(14, 45%, 36%);
    margin-bottom: 15px;
}

.section-two-list-item p{
    padding-left: 20px;
    color: hsl(30, 10%, 34%);
    font-weight: 400;
}
/* ------section two------ */

/* ------section three------ */
.section-three-list{
    list-style-type: decimal;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(0, 0%, 85%);
}

.section-three-list-item{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.section-three-list-item p{
    color: hsl(30, 10%, 34%);
    font-weight: 400;
    padding-left: 20px;
}

.section-three-list-item p span{
    padding-left: 0px;
}
/* ------section three------ */

/* ------section four------ */
.secthion-four-text , .section-four-table th{
    color: hsl(30, 10%, 34%);
    font-weight: 400;
}

.section-four-table{
    width: 100%;
}

.section-four-table th{
    border-bottom: 1px solid hsl(0, 0%, 85%);
    text-align: left;
    padding: 10px 30px;
}

.last{
    border-bottom: none !important;
}

.right{
    color: hsl(14, 45%, 36%) !important;
    font-weight: 700 !important;
}
/* ------section four------ */

/* ------footer------ */
footer{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 14px;
}

footer a{
    color: hsl(14, 45%, 36%);
}

/* ------footer------ */


@media only screen and (max-width: 376px) {
    main{
        width: 100%;
        margin: 0px;
    }
    .container{
        align-items: center;
        width: 100%;
        border-radius: 0px;
        padding: 0px;
    }

    .banner{
        width: 100%;
    }
    .banner img{
        border-radius: 0px;
    }

    .top-section , .section-one,.section-two,.section-three,.section-four{
        padding: 10px 30px;
    }

    /* ------section one------ */
    .section-one{
        width: 80%;
    }

    .section-one-title{
        font-size: 1.2em;
    }

    .list{
        padding-left: 20px;
    }

    .list-item .item-title{
        padding-left: 0px;
    }

    .list-item p{
        padding-left: 20px;
    }
    /* ------section one------ */

    .section-four{
        padding-bottom: 40px;
    }

    footer{
        position: absolute;
        z-index: 999;
        bottom: 5px;
        margin: 0px;
        font-size: 10px;
        padding-left: 60px;
    }

}